html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.clearFix:after {
  content: '';
  display: block;
  clear: both;
}
.header {
  margin: 18px 28px;
  height: 34px;
}
.logo {
  width: 131px;
  height: 34px;
  float: left;
}
.user {
  width: 111px;
  height: 32px;
  padding-top: 2px;
  float: right;
  word-spacing: -6px;
}
.user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: yellow;
  vertical-align: top;
}
.user em {
  display: inline-block;
  width: 12px;
  height: 6px;
  margin: 15px 10px 0 10px;
  background: url(../img/2.png) no-repeat -355px -9px;
}
.user dfn {
  vertical-align: top;
  display: inline-block;
  width: 1px;
  height: 22px;
  background: #ccc;
  margin: 5px 14px 5px 6px;
}
.user i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 8px;
  background: url(../img/2.png) no-repeat -290px -28px;
}
.nav {
  height: 38px;
  background: #ecf0f6;
  padding: 10px 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.nav .lf {
  float: left;
  height: 38px;
}
.nav .lf li {
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px ;
  cursor: pointer;
  font: 16px/16px "微软雅黑";
  float: left;
  margin-right: 10px;
}
.nav .lf li em {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  background: url(../img/2.png) no-repeat;
}
.nav .lf li em.a1 {
  background-position: -72px -29px;
}
.nav .lf li em.a2 {
  background-position: -109px -29px;
}
.nav .lf li em.a3 {
  background-position: -145px -29px;
}
.nav .lf li em.a4 {
  background-position: -181px 0px;
}
.nav .rg {
  float: right;
  height: 38px;
}
.nav .rg li {
  height: 16px;
  border: 1px solid #ccc;
  padding: 10px 20px ;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.nav .rg li em {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/2.png) no-repeat;
}
.nav .rg li em.b1 {
  background-position: -254px -1px;
}
.nav .rg li em.b2 {
  background-position: -27px -126px;
}
.nav .rg li i {
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-top: 6px;
  vertical-align: top;
  background: url(../img/2.png) no-repeat -355px -9px;
}
.content {
  padding: 0 10px;
}
.content .up {
  height: 20px;
  padding: 14px 0;
}
.content .up li {
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.content .up li span {
  text-decoration: underline;
}
.content .up li:last-child span {
  color: #f00;
}
.content .up li:last-child i {
  display: none;
}
.content .check {
  height: 14px;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}
.content .check .checkAll {
  width: 13px;
  height: 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font: 13px/13px "宋体";
  display: inline-block;
  vertical-align: top;
}
.content .check .checkAll img {
  width: 100%;
  height: 100%;
  display: none;
}
.content .check .checkAll .active {
  display: block;
}
.content .check .div {
  font: 13px/13px "宋体";
  display: inline-block;
  vertical-align: top;
  margin: 1px 0 0 10px;
}
.content .down {
  padding-top: 20px;
  height: 425px;
}
.content .down .item {
  width: 178px;
  height: 178px;
  border: 1px solid transparent;
  border-radius: 5px;
  background: #ebeff0;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
  float: left;
  margin: 8px;
  position: relative;
}
.content .down .item.active {
  border: 1px solid #55addc;
  background: #ffffff;
}
.content .down .item.active .checkbox {
  background: url(../img/2.png) no-repeat -109px -72px #7bc8ec;
}
.content .down .item.active .item-name {
  color: #55addc;
}
.content .down .item:hover {
  border: 1px solid #55addc;
  background: #ffffff;
}
.content .down .item:hover .item-name {
  color: #55addc;
}
.content .down .item .checkbox {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  left: 8px;
  top: 8px;
  background: #7bc8ec;
}
.content .down .item .item-img {
  width: 180px;
  height: 70px;
  position: absolute;
  background: url(../img/1.png) no-repeat 0 -1px;
  left: 0;
  top: 36px;
  padding-bottom: 30px;
}
.content .down .item .item-name {
  width: 80px;
  position: absolute;
  left: 50px;
  text-align: center;
  bottom: 15px;
}
.content .down .item input {
  position: absolute;
  left: 2px;
  text-align: center;
  bottom: 15px;
  display: none;
}
.content .down-kong {
  width: 100%;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 350px;
  left: 0;
  display: none;
}
.content .down-kong span {
  font: 20px/30px "宋体";
  vertical-align: middle;
}
.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  display: none;
}
.popup .big {
  width: 400px;
  height: 400px;
  padding: 20px 20px;
  position: absolute;
  left: 500px;
  top: -480px;
  background: #fff;
  border: 2px solid #55addc;
  border-radius: 12px;
}
.popup .big .big-top {
  height: 40px;
  font: 16px/30px "微软雅黑";
}
.popup .big .big-top span {
  float: left;
}
.popup .big .big-top em {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/2.png) no-repeat -326px -2px;
  float: right;
}
.popup .big .big-cont {
  margin-top: 5px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: auto;
}
.popup .big .big-down {
  margin-top: 10px;
  text-align: center;
}
.popup .big .big-down span {
  width: 60px;
  height: 30px;
  display: inline-block;
  text-align: center;
  background: #55addc;
  border-radius: 3px;
  font: 16px/30px "微软雅黑";
  border: 1px solid transparent;
  margin-right: 5px;
  color: #fff;
}
.popup .big .big-down span.c1 {
  background: #fff;
  border: 1px solid #55addc;
  color: #55addc;
}
.popup .omit {
  width: 320px;
  height: 200px;
  border: 1px solid #55addc;
  border-radius: 10px;
  position: relative;
  left: 50%;
  top: -200px;
  margin-left: -160px;
  background: #fff;
}
.popup .omit .omit-top {
  height: 30px;
  padding-right: 10px;
  padding-top: 10px;
}
.popup .omit .omit-top em {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/2.png) no-repeat -326px -2px;
  float: right;
}
.popup .omit .omit-cont {
  padding: 30px 20px;
  text-align: center;
  font: 16px/20px "微软雅黑";
}
.popup .omit .omit-down {
  margin-top: 10px;
  text-align: center;
}
.popup .omit .omit-down span {
  width: 60px;
  height: 30px;
  display: inline-block;
  text-align: center;
  background: #55addc;
  border-radius: 3px;
  font: 16px/30px "微软雅黑";
  border: 1px solid transparent;
  margin-right: 5px;
  color: #fff;
}
.popup .omit .omit-down span.c1 {
  background: #fff;
  border: 1px solid #55addc;
  color: #55addc;
}
.popup .newsName {
  width: 300px;
  height: 100px;
  background: #8cd6f3;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: -200px;
  box-sizing: border-box;
  padding-top: 38px;
}
.popup .newsName .btName {
  font: 20px/30px "宋体";
  text-align: center;
  color: #ffffff;
}
.big-cont ul,
.big-cont li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.big-cont div {
  box-sizing: border-box;
  padding: 5px 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0);
}
.big-cont div .icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 3px;
  background: url(../img/2.png) no-repeat -1px -152px;
}
.big-cont div .iconClose {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 3px;
  background: url(../img/2.png) no-repeat -21px -152px;
}
.big-cont div .name {
  font-size: 12px;
}
.big-cont div:hover {
  background-color: rgba(196, 196, 196, 0.2);
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.big-cont div.active {
  background-color: rgba(45, 203, 252, 0.3);
  border-top: 0.5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}
.kuang {
  position: absolute;
  left: -99px;
  top: -99px;
  width: 0;
  height: 0;
  border: 1px dotted #4b9aec;
  background-color: rgba(75, 154, 236, 0.6);
}
.menu {
  width: 200px;
  height: 320px;
  border: 2px solid #000;
  box-sizing: border-box;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  background: #8cd6f3;
}
.menu span {
  width: 100%;
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 4px 0;
  cursor: pointer;
}
.menu span + span {
  border-top: 1px solid red;
}
